body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.App {
  display: flex;
  align-items: center; /* center items vertically */
  justify-content: center; /* center items horizontally */
  height: 100vh; /* take 100% of the viewport height */
}

.dog-image {
  width: 300px; /* set the width */
  height: 300px; /* set the height */
}

